html {
    background-color: black;
    font-family: monospace;
    width:100%
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    width:100%
  }
  .white {
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 5rem;
    width:100%
  }
  input {
    width:90%;
    height:5rem;
    text-align:center;
    font-family: monospace;;
    font-size:3rem;
    margin-bottom:5rem;
  }
  ul {
    font-size:3rem;
    height: 200rem;
    padding: 0px;
    margin: 0px;
    width:90%;
    text-align: left;
    overflow: hidden;
    overflow-y: scroll;

  }